body{
    background-image:  url("../images/bbg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin-top: 900px;
}

.wrapper{

	height: 50%;

	z-index: 9999;
	position: absolute;
	top:10px;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}

.bimage{

    width: 800px ;
    height: 315px;

}

.custom-form{
    font: 95% Arial, Helvetica, sans-serif;
    padding: 16px;
}

.custom-form input[type ="text"],
.custom-form input[type ="password"]
{
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 50%;
	background: #ffff;
	margin-bottom: 1%;
	border: 1px solid #ccc;
	padding: 1%;
	color: #00aaff;
	font: 95% Arial, Helvetica, sans-serif;
    

}

.custom-form input[type ="text"]:hover,
.custom-form input[type ="password"]:hover
{
    box-shadow: 0 0 5px #00aaff;
	padding: 1%;
	border: 1px solid #00aaff;
}

.custom-form button[type ="submit"]{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 25%;
	padding: 1%;
	background: #00aaff;
	border-bottom: 2px solid #00aaffb9;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}

.custom-form button[type ="submit"]:hover{
    background: #036da1;
}
